.App {
  /* background-color: #a8e2ff; */
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 1em;
}

.header {
  background-color: #a8e2ff;
  grid-column-start: 1;
  grid-column-end: 4;

  border-radius: 1em;
  background: #a8e2ff;
  box-shadow: 20px 20px 60px #8fc0d9, -20px -20px 60px #c1ffff;
}
.header img {
  /* grid-area: header; */
  width: 100%;
  height: 100%;
  object-fit: cover; /* zoom/crop instead of streching*/
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
  /* gap: <grid-row-gap> <grid-column-gap>; */
  gap: 2em 1em;
}

.image-card {
  padding-bottom: 0.25em;
  padding-left:   0.5em;
  padding-right:  0.5em;
  border-radius:  0.5em;
}
.image-card:hover img {
  display: none; /* hides image to display video, inplace*/
}
.image-card:hover video {
  display:block;
  opacity: 100;
  width: 100%;
  height: 33vh;

  transform: scale(1.05);
  transition: 0.3s;

  background: #a8e2ff;
  box-shadow: 20px 20px 60px #8fc0d9, -20px -20px 60px #c1ffff;

  cursor: none;
}
.image-card img {
  /* can't set fixed height, image stretching */
  opacity: 100;
  width: 100%;
  height: 33vh;
  object-fit: cover; /* zoom/crop instead of streching*/
  border-radius: 1em;
}
.image-card video {
  display: none;
  object-fit: cover; /* zoom/crop instead of streching*/
  border-radius: 0.5em;
}

/* neumorphism
border-radius: 50px;
background: #a8e2ff;
box-shadow:  20px 20px 60px #8fc0d9,
             -20px -20px 60px #c1ffff;

border-radius: 50px;
background: #a8e2ff;
box-shadow: inset 20px 20px 60px #8fc0d9,
            inset -20px -20px 60px #c1ffff;            
*/
